body {
    width: 1040px;
    float: none;
}
.clear {
    clear: both;
}
img.logo {
    float: left;
    max-width: 300px;
}
.contact_info {
    padding: 20px;
    margin-top: 7px;
    float: left;
}
footer {
    width: 1040px;
    text-align: center;
    padding: 20px;
}
.prices .section {
    width: 1000px;
}
.prices .section img {
    width: 140px;
    float: right;
}
.prices .section h2 {
    width: 100%;
    background: #E2E2E2;
    padding: 2%;
    margin: 0;
    /*border-bottom: 2px solid #18160B;*/
}

.prices .categories {
    /*border: 2px solid #18160B;*/
    width: 1000px;
}
.prices .category {
    background: #F5F5F5;
    padding: 10px;
    margin: 0;
}
.prices .category.dark {
    background: #F5F5F5;
}
.prices .category img {
    max-width: 70px;
    float: right;
}
.prices .category img, .prices .category h4 {
    margin: 5px;
    text-align: left;
}
.prices .category h4 {
    position: relative;
    bottom: -10px;
    padding-bottom: 10px;
    float: left;
}

table {
    width: 100%;
    background: #fff;
}
table.dark {
    background: #fff;
}

tr, th, td {
    padding: 3px;
}

th, td {
    border: 1px solid #18160B;
}

td img {
    max-width: 100%;
}

@media print {
    p.page_break {
        height: 0 !important;
        page-break-before: always;
    }
    .prices .section {
        width: 1010px !important;
    }
    .prices .section h2 {
        background: #E2E2E2 !important;
        -webkit-print-color-adjust: exact;
    }
    .prices .category {
        background: #F5F5F5 !important;
        -webkit-print-color-adjust: exact;
    }
    .prices .category.dark {
        background: #F5F5F5 !important;
        -webkit-print-color-adjust: exact;
    }
    table {
        background: #fff !important;
        -webkit-print-color-adjust: exact;
    }
    table.dark {
        background: #fff !important;
        -webkit-print-color-adjust: exact;
    }
}