^tmp_head^
^tmp_banners^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        ^tmp_services-featured^
        ^tmp_products-featured^
    </div>
</div>
^tmp_angular=featured^
^tmp_footer^

