<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-if="showBanners(bannerObjects)">
    <div class="carousel-inner" role="listbox" style="min-height: ^banner_height^;">
        <div ng-class="{active:$first}" class="item" ng-repeat="bannerObject in bannerObjects track by $index">
            <div class="imagefill" style="min-height: ^banner_height^;">
                <img ng-src="{{bannerObject.image}}" alt="{{bannerObject.title}}">
                <div class="container" ng-if="bannerObject.title || bannerObject.caption || bannerObject.link">
                    <div class="carousel-caption animated bounceInRight" ng-if="bannerObject.title || bannerObject.caption">
                        <h1 ng-if="bannerObject.title && bannerObject.title != ''" ng-bind="bannerObject.title"></h1>
                        <p ng-if="bannerObject.caption && bannerObject.caption != ''" ng-bind="bannerObject.caption"></p>
                        <p ng-if="bannerObject.link && bannerObject.link != '' && bannerObject.action"><a class="btn btn-lg btn-primary animated wobble" ng-href="{{bannerObject.link}}" ng-bind="bannerObject.action" role="button"></a></p>
                    </div>
                    <div class="carousel-caption invisible animated bounceInRight" ng-if="!bannerObject.title && !bannerObject.caption">
                        <p ng-if="bannerObject.link && bannerObject.link != '' && bannerObject.action"><a class="btn btn-lg btn-primary animated wobble" ng-href="{{bannerObject.link}}" ng-bind="bannerObject.action" role="button"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--^tmp_angular=banners^-->