<script type="text/javascript">
    angular.module('pencilblueApp', ['ngSanitize'])
            .controller('PencilBlueController', ['$scope', '$sce', function($scope, $sce) {
                ^angular_objects^
                ^media_objects^

                $scope.isImage = function (mediaType) {
                    return (mediaType == 'image');
                };
                $scope.isYoutube = function (mediaType) {
                    return (mediaType == 'youtube');
                };
                $scope.isVimeo = function (mediaType) {
                    return (mediaType == 'vimeo');
                };
                $scope.getYoutubeSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://www.youtube.com/watch?v=" + videoId);
                };
                $scope.getIframeYoutubeSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://www.youtube.com/embed/" + videoId);
                };
                $scope.getVimeoSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://vimeo.com/" + videoId);
                };
                $scope.getIframeVimeoSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://player.vimeo.com/video/" + videoId);
                };

                $scope.getSubHtml = function(name, caption) {
                    return "<h4>" + name + "</h4><p>" + caption + "</p>";
                };
            }]);
</script>
