^tmp_head^
<div class="container">
    <div id="articles" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            ^articles^
        </div>
    </div>
    <div id="articles" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            ^tmp_calendar^
        </div>
    </div>
</div>
^angular^
^tmp_footer^