<div id="event_^event_id^" class="event">
    <h2><a href="^event_url^" target="_blank">^event_name^</a></h2>
    ^tmp_elements=event=event_buttons^
    <h4>^event_date^</h4>
    <h5><a href="^venue_url^" target="_blank">^venue_name^</a></h5>
    <!--<h5><a href="https://maps.google.com/?q=^venue_address^" target="_blank">^venue_address^</a></h5>-->
    <p>^event_description^</p>
    <iframe src="https://www.google.com/maps?q=^venue_address^&output=embed&z=10" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe>
</div>
