        </div>
        <footer>
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <!--Copyright &copy; ^year^ ^site_name^-->
                    <p>Copyright &copy; ^year^ ^site_name^</p>
                    <p>Brought to You By</p>
                    <a href="http://bugslifesolutions.com" class="bugslife-stamp">
                        <img src="http://bugslifesolutions.com/public/bl-solutions/img/logo/logo-light.png" alt="BugsLife Solutions" height="60" />
                        <!--<p class="created-by">Created By</p>-->
                        <!--<img src="http://bugslifesolutions.com/public/bl-solutions/img/icons/icon-light.png" alt="BugsLife Solutions" height="50" style="margin-top: 8px;" />-->
                        <!--<p class="created-by">BY</p>-->
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
