                <footer>
                    <div class="container">
                        <div class="col-lg-6">
                            <a href="/admin" target="_blank" style="float: left;"><i style="font-size: 24px;" class="fa fa-lock"></i></a>
                            <!--Copyright &copy; ^year^ ^site_name^-->
                            <p style="float: left; padding: 0 0 0 10px;">Copyright &copy; ^year^ ^site_name^</p>
                        </div>
                        <div class="col-lg-6">
                            <a href="http://bugslifesolutions.com" class="bugslife-stamp">
                                <img src="http://bugslifesolutions.com/public/bl-solutions/img/logo/logo.png" alt="BugsLife Solutions" height="60" />
                                <p class="created-by">Created By</p>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--lightgallery-->
        <script type="text/javascript" src="/public/^theme_path^/lightgallery/dist/js/lightgallery.min.js"></script>
        <!--lightgallery plugins-->
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-thumbnail.min.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-fullscreen.min.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-video.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-autoplay.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-zoom.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-hash.js"></script>
        <script src="/public/^theme_path^/lightgallery/dist/js/lg-pager.js"></script>
        <script src="/public/^theme_path^/lightgallery/lib/jquery.mousewheel.min.js"></script>
        <!--Init LightGallery-->
        <script type="text/javascript" src="/public/^theme_path^/js/lg-init.js"></script>
        <!--Masonry js-->
        <script type="text/javascript" src="/public/^theme_path^/js/lib/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/public/^theme_path^/js/lib/imagesLoaded.js"></script>
        <script type="text/javascript" src="/public/^theme_path^/js/masonry-init.js"></script>
        <!--ImageFill js-->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
        <script type="text/javascript" src="/public/^theme_path^/imagefill/js/jquery-imagefill.js"></script>
        <script type="text/javascript" src="/public/^theme_path^/js/imagefill-init.js"></script>
        <!--Main javaScript-->
        <script type="text/javascript" src="/public/^theme_path^/js/main.js"></script>
    </body>
</html>
