^tmp_head^
<div class="container">
    <ul class="breadcrumb fixed">
        <li><a href="/page/products">Products</a></li> <!--TODO: Stop using hard coded value-->
        <li><a href="/page/products/^section_name^">^section_display_name^</a></li>
        <li class="active">^category_display_name^</li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^

            <div id="lightgallery" class="grid">
                <div class="grid-sizer"></div>
                <div ng-repeat="media in mediaObjects">
                    <div ng-href="{{media.location}}" class="gallery_item grid-item" ng-if="isImage(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="">
                            <img ng-src="{{media.location}}" class="img-responsive" />
                        </a>
                    </div>
                    <div ng-href="{{getYoutubeSrc(media.location)}}" class="video_wrapper gallery_item grid-item width--2" ng-if="isYoutube(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="" class="video_link"></a>
                        <div class="responsive-video">
                            <iframe ng-src="{{getIframeYoutubeSrc(media.location)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div ng-href="{{getVimeoSrc(media.location)}}" class="video_wrapper gallery_item grid-item width--2" ng-if="isVimeo(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="" class="video_link"></a>
                        <div class="responsive-video">
                            <iframe ng-src="{{getIframeVimeoSrc(media.location)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="clear"></div>
            <h2 ng-if="productObjects.length > 0">^page_headline^ Products</h2>
            <div class="jumbotron" style="padding: 15px;">
                <div class="grid products">
                    <div class="grid-sizer"></div>
                    <div ng-repeat="productObject in productObjects track by $index">
                        <div ng-if="productObject.Online" class="grid-item" style="float: left;">
                            <a ng-href="/page/products/^section_name^/^category_name^/{{productObject.name}}">
                                <img ng-src="{{productObject.imageUrl}}" class="img-responsive" ng-alt="{{productObject.imageName}}" />
                                <div class="info">
                                    <h3 ng-bind="productObject['Display Name']"></h3>
                                </div>
                                <h4 class="price">{{getAsCurrency(productObject.Price)}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=category^
^tmp_footer^

