^tmp_prices=head^
<div class="container prices" style="margin-top: 20px">
    <div style="width: 1040px;">
        <img src="^site_logo^" alt="Site Logo" class="logo" />
        <div class="contact_info">
            <p>^primary_phone^</p>
            <p>^primary_email^</p>
            <p>^primary_location^</p>
        </div>
    </div>
    <div class="clear"></div>
    <div ng-repeat="sectionObject in sectionObjects">
        <p class="page_break"></p>
        <div class="section">
            <!--<img ng-src="{{sectionObject.imageUrl}}" class="img-responsive" ng-alt="{{sectionObject.imageName}}" width="140" />-->
            <h2 ng-bind="sectionObject['Display Name']"></h2>
        </div>
        <div class="clear"></div>
        <div class="categories">
            <div ng-repeat="categoryObject in sectionObject.categoryObjects">
                <div class="category dark">
                    <img ng-src="{{categoryObject.imageUrl}}" class="img-responsive" ng-alt="{{categoryObject.imageName}}" width="70" />
                    <h4 ng-bind="categoryObject['Display Name']"></h4>
                    <div class="clear"></div>
                    <table class="dark">
                        <tbody>
                        <tr>
                            <th style="width: 800px;">Product Name</th>
                            <th style="width: 200px;">Price</th>
                        </tr>
                        <tr ng-repeat="productObject in categoryObject.productObjects">
                            <!--<td><img ng-src="{{productObject.imageUrl}}" alt="{{productObject.imageName}}" width="70" /></td>-->
                            <td ng-bind="productObject['Display Name']"></td>
                            <td>{{getAsCurrency(productObject.Price)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=prices^
^tmp_prices=footer^

