<div class="col-sm-10 col-sm-offset-1 featured-products" ng-if="productObjects.length > 0">
    <h2>Featured Products</h2>
    <div class="jumbotron" style="padding: 15px;">
        <div class="grid products">
            <div class="grid-sizer"></div>
            <div ng-repeat="productObject in productObjects track by $index">
                <div ng-if="productObject.Online" class="grid-item" style="float: left;">
                    <a ng-href="/page/products/^section_name^/^category_name^/{{productObject.name}}">
                        <img ng-src="{{productObject.imageUrl}}" class="img-responsive" ng-alt="{{productObject.imageName}}" />
                        <div class="info">
                            <h3 ng-bind="productObject['Display Name']"></h3>
                        </div>
                        <h4 class="price">{{getAsCurrency(productObject.Price)}}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>