^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="grid products">
                <div class="grid-sizer"></div>
                <div ng-repeat="sectionObject in sectionObjects track by $index">
                    <div class="grid-item">
                        <a ng-href="/page/products/{{sectionObject.name}}">
                            <img ng-src="{{sectionObject.imageUrl}}" class="img-responsive" ng-alt="{{sectionObject.imageName}}" />
                            <h3 class="simple button" ng-bind="sectionObject['Display Name']"></h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=sections^
^tmp_footer^

