<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_collapse_1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img id="menu_logo" src="^site_logo^" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar_collapse_1">
            <ul class="nav navbar-nav">
                ^navigation^
                <!--^account_buttons^-->
            </ul>
        </div>
    </div>
</nav>
