<script type="text/javascript">
    angular.module('pencilblueApp', [])
            .controller('PencilBlueController', ['$scope', '$sce', function($scope, $sce) {
                ^product_objects^
                ^media_objects^

                $scope.isImage = function (mediaType) {
                    return (mediaType == 'image');
                };
                $scope.isYoutube = function (mediaType) {
                    return (mediaType == 'youtube');
                };
                $scope.isVimeo = function (mediaType) {
                    return (mediaType == 'vimeo');
                };
                $scope.getYoutubeSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://www.youtube.com/watch?v=" + videoId);
                };
                $scope.getIframeYoutubeSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://www.youtube.com/embed/" + videoId);
                };
                $scope.getVimeoSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://vimeo.com/" + videoId);
                };
                $scope.getIframeVimeoSrc = function (videoId) {
                    return $sce.trustAsResourceUrl("https://player.vimeo.com/video/" + videoId);
                };

                $scope.getSubHtml = function(name, caption) {
                    if(name != undefined && name != '') {
                        if(caption == undefined) {
                            caption = '';
                        }
                        return "<h4>" + name + "</h4><p>" + caption + "</p>";
                    } else {
                        return "";
                    }
                };

                $scope.getAsCurrency = function(price) {
                    return $scope.formatMoney(price);
                };

                $scope.getAsNumber = function(price) {
                    // Remove non-numeric chars (except decimal point/minus sign):
                    return parseFloat(price.replace(/[^0-9-.]/g, ''));
                };

                // usage: someVar.formatMoney(decimalPlaces, symbol, thousandsSeparator, decimalSeparator)
                // defaults: (2, "$", ",", ".")
                $scope.formatMoney = function(price, places, symbol, thousand, decimal) {
                    places = !isNaN(places = Math.abs(places)) ? places : 2;
                    symbol = symbol !== undefined ? symbol : "$";
                    thousand = thousand || ",";
                    decimal = decimal || ".";
                    var number = price,
                            negative = number < 0 ? "-" : "",
                            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                            j = (j = i.length) > 3 ? j % 3 : 0;
                    return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
                };
            }]);
</script>
