@import "../../../bl-default-theme/public/css/extensions/elements";

body {
  background : #141414;
  text-align : center;

  h1 {
    font-size: 40px;
    margin: 0 auto;
    color : #fff;
    position: relative;
    top: -90px;
    text-shadow : 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #000;
    padding: 90px 20px 20px 20px;
    width: 380px;
    max-width: 100% !important;
    .border-radius(10px, 10px, 10px, 10px);
  }

  img.logo {
    margin : -30px auto 0 auto;
    max-width: 100% !important;
  }

  img.under-construction {
    position: relative;
    z-index: 1;
    margin : 0 auto;
    width: 210px;
  }

  /* Stamp */
  a.bugslife-stamp img {
    background : #000;
    height: 65px;
    padding: 10px;
    .border-radius(5px, 5px, 5px, 5px);
    .transition(.2s, ease);

    &:hover {
      .rotation(-5deg);
      .transition(.2s, ease);
    }
  }

  footer {
    margin-top: 90px;
  }
}