^tmp_head^
<div class="container">
    <ul class="breadcrumb fixed">
        <li><a href="/page/portfolio">Portfolio</a></li> <!--TODO: Stop using hard coded value-->
        <li class="active">^item_display_name^</li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1 ng-bind="customObject['Display Name']"></h1>
            <h6 style="font-style: italic;" ng-bind="customObject['Date Completed'] | date: 'MMMM d, yyyy'"></h6>
            <div class="content" ng-bind-html="customObject.Content"></div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="lightgallery" class="grid">
                <div class="grid-sizer"></div>
                <div ng-repeat="media in mediaObjects">
                    <div ng-href="{{media.location}}" class="gallery_item grid-item" ng-if="isImage(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="">
                            <img ng-src="{{media.location}}" class="img-responsive" />
                        </a>
                    </div>
                    <div ng-href="{{getYoutubeSrc(media.location)}}" class="video_wrapper gallery_item grid-item width--2" ng-if="isYoutube(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="" class="video_link"></a>
                        <div class="responsive-video">
                            <iframe ng-src="{{getIframeYoutubeSrc(media.location)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div ng-href="{{getVimeoSrc(media.location)}}" class="video_wrapper gallery_item grid-item width--2" ng-if="isVimeo(media.media_type)" data-sub-html="{{getSubHtml(media.name, media.caption)}}">
                        <a href="" class="video_link"></a>
                        <div class="responsive-video">
                            <iframe ng-src="{{getIframeVimeoSrc(media.location)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=portfolio-item-attributes^
^tmp_footer^