^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        <div class="col-sm-10 col-sm-offset-1">
            <div ng-repeat="customObject in customObjects track by $index">
                <a class="btn btn-primary btn-lg" ng-href="/page/portfolio/{{customObject.name}}" ng-bind="customObject['Display Name']"></a>
                <!--<h6 style="font-style: italic;" ng-bind="customObject['Date Completed'] | date: 'MMMM d, yyyy'"></h6>-->
                <!--<p ng-bind="customObject.Description"></p>-->
            </div>
        </div>
    </div>
    ^error_msg^
</div>
^tmp_angular=portfolio-items^
^tmp_footer^

