<div class="col-sm-10 col-sm-offset-1 featured-services" ng-if="serviceObjects.length > 0">
    <h2>Featured Services</h2>
    <div ng-repeat="serviceObject in serviceObjects track by $index">
        <div class="col-md-4" ng-if="serviceObject.Featured">
            <div class="wrap imagefill">
                <a ng-href="/page/service/{{serviceObject.name}}">
                    <div class="overlay"></div>
                    <h3 ng-bind="serviceObject['Display Name']"></h3>
                    <img ng-src="{{serviceObject.imageUrl}}" ng-alt="{{serviceObject.imageName}}" />
                </a>
            </div>
        </div>
    </div>
</div>