/* Import Palettes */
@import "palettes/primary";
@import "palettes/secondary";

html, body
{
  font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
  height: 100%;
  background: #fff;
}

*
{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

a
{
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover
{
  color: @secondary;
  text-decoration: none;
  outline: none;
}

/* Clears hanging floats */
.spacer
{
  clear: both;
}

.clickable {
  cursor: pointer;
}

form .error
{
  font-size: .85em;
  color: #AA0000;
  margin: 0;
}

.form-group label {
  color: #000;
}

.form-control, .input-group-addon, text-area
{
  border: 1px solid #B3B3B3;
  box-shadow: none;
}

.form-control:focus, text-area:focus
{
  border: 1px solid @primary-700;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#wrap
{
  min-height: 100%;
}

#main
{
  overflow: auto;
}

#main .row-fluid
{
  margin: 0;
}

#login_column
{
  margin: 0 auto;
  max-width: 22em;
}

.logo_wrapper {
  text-align: center;
}

#login_logo
{
  padding: 2em 0;
  max-width: 100%;
}

.forgot_password
{
  font-size: .9em;
  margin-top: .5em;
  text-align: right;
}

#top_menu
{
  margin-bottom: 0;
  background-color: #FFFFFF;
}

#menu_logo
{
  height: 1.25em;
  margin-top: -.375em;
}

/* ALERTS */
.alert-info
{
  background: none;
  color: #fff;
  border: none;
}

.error_success
{
  margin: 1em 0 0 0;
}

.alert-danger.error_success a
{
  color: #B94A48;
}

.alert-success.error_success a
{
  color: #468847;
}

/* PANELS */
.panel
{
  box-shadow: none;
}

.panel-default .panel-heading
{
  background-color: #E7E7E7;
  border: 1px solid #E7E7E7;
  color: #fff;
}

/* BUTTONS */
.btn-primary
{
  background-color: @primary;
  border: 1px solid @primary;
}

.btn-default:hover, .btn-primary:hover, .btn-info:hover, .btn-success:hover, .btn-warning:hover,
.btn-default:focus, .btn-primary:focus, .btn-info:focus, .btn-success:focus, .btn-warning:focus
{
  background-color: @secondary-900;
  border: 1px solid @secondary-900;
  color: #FFFFFF;
  outline: none;
}

.btn-default
{
  background-color: @primary;
  border: 1px solid @primary;
}

.btn-info
{
  background-color: #B3B3B3;
  border: 1px solid #B3B3B3;
}

.btn-success
{
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
}

.btn-warning
{
  background-color: #ff9800;
  border: 1px solid #ff9800;
}

/* LABELS */
.label-default
{
  background: none;
  color: #000;
}

#draft_info
{
  margin-top: .5em;
  font-size: .9em;
  font-weight: normal;
  color: #999999;
}

/* SIDE NAV */

#side_menu
{
  display: none;
}

#nav_accordion .panel-default .panel-heading, #nav_accordion .panel-default .panel-heading .panel-title
{
  background-color: #FFFFFF;
  border: none;
  color: #fff;
}

#nav_accordion .panel-default .panel-heading:hover, #nav_accordion .panel-default .panel-heading:hover .panel-title
{
  background-color: #B3B3B3;
  color: #FFFFFF;
}

#nav_accordion .panel-primary .panel-heading, #nav_accordion .panel-primary .panel-heading .panel-title
{
  background-color: #B3B3B3;
  color: #fff;
  border: none;
}

#nav_accordion .panel-primary .panel-heading:hover, #nav_accordion .panel-primary .panel-heading:hover .panel-title
{
  background-color: #fff;
  color: #FFFFFF;
  border: none;
}

#nav_accordion .panel
{
  border: none;
  box-shadow: none;
}

#nav_accordion .panel a
{
  text-decoration: none;
}

#nav_accordion .panel-heading
{
  padding: 0;
}

#nav_accordion .panel-title
{
  padding: .75em;
}

#nav_accordion .nav-pills li a
{
  padding-left: 2em;
}

.nav-stacked>li+li
{
  margin-top: 0;
}

.nav-pills li a
{
  color: #fff;
}

.nav-pills li a:hover
{
  background-color: #E7E7E7;
}

.nav-pills li.active a
{
  background-color: #E7E7E7;
  color: #fff;
}

.nav-pills li.active a:hover
{
  background-color: #B3B3B3;
  color: #FFFFFF;
}

/* SUB-NAV */

#sub_nav
{
  margin-bottom: .5em;
  background-color: #00FF00;
}

.sub_nav
{
  padding: 1em 0;
}

.sub_nav > a button
{
  margin-bottom: .5em;
}

/* TABS */

.tab-content
{
  padding: .5em;
}

.nav-tabs li a
{
  color: #fff;
}

.nav-tabs li a:hover
{
  background-color: #E7E7E7;
  color: #fff;
}

.nav-tabs li.active a
{
  color: #fff;
}

.subsection_checkboxes
{
  list-style: none;
  padding: .5em .5em .5em 1em;
}

/* NAVIGATION */

.nav-item h5, .subnav-item h5 {
  font-size: 1em;
  margin: 0;
}

/* INTERFACE OBJECTS */

.draggable_item .panel-heading {
  font-size: 1em;
  padding: .5em;
  margin: 0;
}

.form_error {
  font-size: .9em;
  color: #A94442;
}

.table_container {
  width: 100%;
  overflow: auto;
}

.topic, .media_item, .section_item, .child_object, .custom_object
{
  font-size: 1.05em;
  font-weight: normal;
  padding: .5em;
  float: left;
  margin: 0 .5em .5em 0;
}

.add_field_button {
  margin-bottom: .5em;
}

.media_item a
{
  color: #fff;
}

.media_item a:hover
{
  color: #B3B3B3;
}

.embed-responsive iframe {
  border: none;
}

.topic a
{
  color: #FFFFFF;
  text-decoration: none;
}

.topic a:hover
{
  color: #428BCA;
}

.content_layout
{
  background-color: #FFFFFF;
  margin-bottom: 1em;
  padding: 0;
  min-height: 200px;
}

.layout_editable
{
  overflow-x: hidden;
  overflow-y: scroll;
}

.layout_editable, .layout_code, .layout_markdown
{
  width: 100%;
  height: 100%;
  border: none;
  padding: .5em;
}

.layout_editable:focus, .layout_code:focus, .layout_markdown:focus
{
  outline: none;
}

.layout_editable .read_more_break {
  border: none;
  border-top: 1px dashed #333333;
  color: #333333;
  text-align: center;
}

.layout_code, .layout_markdown
{
  background-color: #333333;
  color: #FFFFFF;
  resize: none;
  font-family: monospace;
}

.layout_markdown {
  background-color: #333344;
}

#column_inches
{
  font-weight: normal;
  font-size: .9em;
}

.remove_media_button {
  margin-top: -2em;
}

.file_drop {
  margin-top: 1em;
  padding: 2em 1em;
  border: 3px dashed #999999;
}

.file_drop_hover {
  border: 3px dashed #4CAF50;
}

/* NEWS */

.news_alert h3 {
  margin-top: 0;
}

#news_container {
  display: none;
}

.footer
{
  font-size: .75em;
  padding: 1.5em;
  text-align: right;
}

@media(min-width: 992px)
{
  #top_menu
  {
    display: none;
  }

  #side_menu
  {
    display: block;
  }
}

.loading-modal-content
{
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.quick-nav {
  position: relative;
  background-color: #FFFFFF;
  font-size: 10px;
  padding: 20px 90px 20px 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.quick-nav a {
  color: #333333;
  text-decoration: none;
  font-size: 14px;
}

.quick-nav table th.skew {
  height: 60px;
  width: 40px;
  position: relative;
  vertical-align: bottom;
}

.quick-nav table th.skew > div {
  position: relative;
  top: 0px;
  left: 30px;
  height: 100%;
  transform:skew(-45deg,0deg);
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  overflow: hidden;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.quick-nav table th.skew span {
  transform:skew(45deg,0deg) rotate(315deg);
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 15px;
  left: 1px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.quick-nav table td {
  width: 40px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #CCCCCC;
}

.quick-nav table td a {
  display: block;
  width: 100%;
  text-align: center;
}

.quick-nav table td.project-name {
  width: auto;
  text-align: right;
  font-weight: bold;
  border: none;
  padding-right: 8px;
}

.quick-nav table .odd {
  background-color: #E8E8E8;
}

/* PLUGINS */

.progress_console {
  font-family: monospace;
  font-size: .85em;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}