@import "lib/animate.min.css";
@font-face {
  font-family: 'GreatVibesRegular';
  src: url('/public/bl-default-theme/fonts/GreatVibesRegular.eot');
  src: url('/public/bl-default-theme/fonts/GreatVibesRegular.eot') format('embedded-opentype'), url('/public/bl-default-theme/fonts/GreatVibesRegular.woff2') format('woff2'), url('/public/bl-default-theme/fonts/GreatVibesRegular.woff') format('woff'), url('/public/bl-default-theme/fonts/GreatVibesRegular.ttf') format('truetype'), url('/public/bl-default-theme/fonts/GreatVibesRegular.svg#GreatVibesRegular') format('svg');
}
.navbar .navbar-brand {
  padding: 0;
  line-height: 0;
  float: left;
}
.navbar .navbar-brand img#menu_logo {
  position: relative;
  max-height: 100%;
}
.carousel-caption.invisible {
  background: none !important;
  visibility: visible;
  box-shadow: none !important;
}
/* Import Palettes */
.lg-backdrop.in {
  opacity: 0.95 !important;
}
.video_wrapper {
  position: relative;
}
.video_wrapper iframe {
  z-index: 10;
  margin: 0;
}
a.video_link {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
}
.lg-sub-html h4 {
  color: #14C214;
}
/* Import Palettes */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html {
  /*background: url('/public/bl-default-theme/img/heros/hero5.jpg') no-repeat fixed left top;*/
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  /*-ms-background-size: cover;*/
  /*-o-background-size: cover;*/
  background: #fff;
}
body {
  padding-top: 64px;
  color: #000;
  font-size: 15px;
  line-height: 1.6em;
  background: none;
}
body #wrap {
  padding-top: 20px;
}
/* Logo */
img.logo {
  width: 600px;
  max-width: 96%;
  margin: 25px auto 5px auto;
}
/* Logo End */
/* Content */
.breadcrumb {
  z-index: 110;
  padding: 8px !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.breadcrumb.fixed {
  position: absolute;
  margin-left: -7.5px;
  padding-left: 15px !important;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
a h3.simple.button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover h3.simple.button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff !important;
  background: #14C214;
}
h3.simple.button {
  width: 100%;
  padding: 10px 25px;
  color: #fff;
  background: #0c0c48;
  text-align: center;
}
h3.button {
  float: left;
  margin: 10px 10px 0 0;
}
h3.button a {
  padding: 10px 25px;
  float: left;
  color: #fff;
  text-decoration: none;
}
h2,
h4 {
  color: #08084C;
}
h5,
h6 {
  color: #000;
}
h6.error_msg {
  color: #DF0000;
}
/* Embedded Video */
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  margin: 20px 0 0 0;
  max-width: 100%;
}
/* Embedded Video End */
footer {
  /*margin: 20px 0 0 0;*/
  padding: 20px;
  text-align: center;
  /*background: #131209;*/
}
footer a {
  color: #08084C;
}
footer a:hover {
  color: #29ad29;
}
/* Featured Services */
.featured-services {
  padding: 0;
  position: relative;
  bottom: -10px;
}
.featured-services .wrap {
  width: 98%;
  margin: 15px auto;
  height: 320px;
  overflow: hidden;
}
.featured-services .col-md-4 {
  padding: 0;
  margin: 0;
}
.featured-services .col-md-4 a .overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.featured-services .col-md-4 a h3 {
  font-size: 24px;
  position: absolute;
  text-align: center;
  z-index: 2;
  left: 0;
  bottom: 20px;
  color: #fff;
  margin: auto;
  padding: 2%;
  background: #08084C;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.featured-services .col-md-4 a img {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.featured-services .col-md-4 a:hover .overlay {
  background: rgba(0, 0, 0, 0.1);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.featured-services .col-md-4 a:hover h3 {
  padding-left: 6%;
  background: #14C214;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.featured-services .col-md-4 a:hover img {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* Featured Services End */
/* Testimonial Styles */
.testimonial_items .testimonial_headshot {
  width: 120px;
  min-height: 120px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.testimonial_items h3 {
  margin-top: 0;
}
/* Testimonial Styles End */
/* Team Styles */
.team_members .member_headshot {
  width: 160px;
  min-height: 160px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.team_members .name {
  text-align: center;
  margin: 0;
  color: #08084C;
}
.team_members .position {
  text-align: center;
  font-style: italic;
  color: #000;
}
textarea {
  resize: vertical !important;
}
/* Content End */
/* Media Queries */
@media (max-width: 992px) {
  #articles {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Testimonials */
  .testimonial_items h3 {
    margin-top: 10px;
    text-align: center;
  }
}
/* Media Queries End */
/* Additional Styles */
a.bugslife-stamp {
  float: right;
  position: relative;
  transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
}
a.bugslife-stamp:hover {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
}
a.bugslife-stamp p.created-by {
  position: absolute;
  top: 40px;
  left: -25px;
  font-size: 9px;
  font-style: italic;
  color: #ADADAB !important;
}
/* Import Palettes */
.grid {
  width: 100% !important;
  margin: 0 auto;
}
.grid-item {
  overflow: hidden;
  margin: 5px 0;
}
.grid-item img {
  width: 100%;
}
.grid.products a h3 {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  margin: 0;
}
.grid.products .info {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #08084C;
  position: absolute;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.grid.products a:hover .info {
  bottom: -100% !important;
  width: 100%;
  text-align: center;
  background: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.grid.products h4.price {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 7px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
.grid.products a:hover h4.price {
  bottom: -10px;
  opacity: 1;
}
.grid.products h3,
.grid.products h4.price,
.grid.products a:hover h3,
.grid.products a:hover h4.price {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
/*.grid-sizer,*/
/*.grid-item {*/
/*width: 48.5%;*/
/*}*/
/*.grid-item.width--2 {*/
/*width: 100%;*/
/*}*/
/* Media Queries */
@media (min-width: 1px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .grid-item.width--2 {
    width: 100%;
  }
}
@media (min-width: 415px) {
  .grid-sizer,
  .grid-item {
    width: 48.5%;
  }
  .grid-item.width--2 {
    width: 48.5%;
  }
}
@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 31.88888%;
  }
  .grid-item.width--2 {
    width: 64.5%;
  }
}
@media (min-width: 968px) {
  .grid-sizer,
  .grid-item {
    width: 31.88888%;
  }
  .grid-item.width--2 {
    width: 31.88888%;
  }
}
@media (min-width: 1201px) {
  .grid-sizer,
  .grid-item {
    width: 18.5%;
  }
  .grid-item.width--2 {
    width: 38%;
  }
}
/* Media Queries End */
