@font-face {
  font-family: 'GreatVibesRegular';
  src: url('/public/bl-default-theme/fonts/GreatVibesRegular.eot');
  src: url('/public/bl-default-theme/fonts/GreatVibesRegular.eot') format('embedded-opentype'),
  url('/public/bl-default-theme/fonts/GreatVibesRegular.woff2') format('woff2'),
  url('/public/bl-default-theme/fonts/GreatVibesRegular.woff') format('woff'),
  url('/public/bl-default-theme/fonts/GreatVibesRegular.ttf') format('truetype'),
  url('/public/bl-default-theme/fonts/GreatVibesRegular.svg#GreatVibesRegular') format('svg');
}