/* Import Palettes */
.lg-backdrop.in {
  opacity: 0.95 !important;
}
.video_wrapper {
  position: relative;
}
.video_wrapper iframe {
  z-index: 10;
  margin: 0;
}
a.video_link {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
}
.lg-sub-html h4 {
  color: #14C214;
}
