/* Import Palettes */
@import "palettes/primary";
@import "palettes/secondary";

.grid {
  width: 100% !important;
  margin: 0 auto;
}
.grid-item {
  overflow: hidden;
  margin: 5px 0;
}
.grid-item img {
  width: 100%;
}
.grid.products a h3 {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  margin: 0;
}
.grid.products .info {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: @primary;
  position: absolute;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}
.grid.products a:hover .info {
  bottom: -100% !important;
  width: 100%;
  text-align: center;
  background: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}
.grid.products h4.price {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 7px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}
.grid.products a:hover h4.price {
  bottom: -10px;
  opacity: 1;
}
.grid.products h3, .grid.products h4.price, .grid.products a:hover h3, .grid.products a:hover h4.price {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}
/*.grid-sizer,*/
/*.grid-item {*/
/*width: 48.5%;*/
/*}*/
/*.grid-item.width--2 {*/
/*width: 100%;*/
/*}*/

/* Media Queries */
@media (min-width: 1px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .grid-item.width--2 {
    width: 100%;
  }
}
@media (min-width: 415px) {
  .grid-sizer,
  .grid-item {
    width: 48.5%;
  }
  .grid-item.width--2 {
    width: 48.5%;
  }
}
@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 31.88888%;
  }
  .grid-item.width--2 {
    width: 64.5%;
  }
}
@media (min-width: 968px) {
  .grid-sizer,
  .grid-item {
    width: 31.88888%;
  }
  .grid-item.width--2 {
    width: 31.88888%;
  }
}
@media (min-width: 1201px) {
  .grid-sizer,
  .grid-item {
    width: 18.5%;
  }
  .grid-item.width--2 {
    width: 38%;
  }
}
/* Media Queries End */