/* Import Palettes */
@import "palettes/primary";
@import "palettes/secondary";
@import "extensions/elements";

html {
  /*background: url('/public/bl-default-theme/img/heros/hero5.jpg') no-repeat fixed left top;*/
  /*background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-webkit-background-size: cover;*/
  /*-ms-background-size: cover;*/
  /*-o-background-size: cover;*/
  background: #fff;
}
body {
  @top-padding: 64px;
  padding-top: @top-padding;
  color: #000;
  font-size: 15px;
  line-height: 1.6em;
  background: none;

  #wrap {
    padding-top: 20px;
  }
}

/* Logo */
img.logo {
  width: 600px;
  max-width: 96%;
  margin: 25px auto 5px auto;
}
/* Logo End */

/* Content */
.breadcrumb {
  //width: 100%;
  z-index: 110;
  padding: 8px !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;

  &.fixed {
    position: absolute;
    margin-left: -7.5px;
    padding-left: 15px !important;
    .border-radius(0, 5px, 5px, 0px);
    .drop-shadow(0, 1px, 2px, 0.3);
  }
}
a h3.simple.button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover h3.simple.button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff !important;
  background: @secondary;
}
h3.simple.button {
  width: 100%;
  padding: 10px 25px;
  color: #fff;
  background: @primary-700;
  text-align: center;
}
h3.button {
  float: left;
  margin: 10px 10px 0 0;
}
h3.button a {
  padding: 10px 25px;
  float: left;
  color: #fff;
  text-decoration: none;
}
h2, h4 {
  color: @primary;
}
h5, h6 {
  color: #000;
}
h6.error_msg {
  color: #DF0000;
}
/* Embedded Video */
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  margin: 20px 0 0 0;
  max-width: 100%;
}
/* Embedded Video End */
footer {
  /*margin: 20px 0 0 0;*/
  padding: 20px;
  text-align: center;
  /*background: #131209;*/

  a {
    color: @primary;
    &:hover {
      color: @secondary-900;
    }
  }
}
/* Featured Services */
.featured-services {
  padding: 0;
  position: relative;
  bottom: -10px;

  .wrap {
    width: 98%;
    margin: 15px auto;
    height: 320px;
    overflow: hidden;
  }
  .col-md-4 {
    padding: 0;
    margin: 0;

    a {
      .overlay {
        position: absolute;
        z-index: 1;
        text-align: center;
        color: #fff;
        text-decoration: none;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        .transition-duration(.3s);
      }
      h3 {
        font-size: 24px;
        position: absolute;
        text-align: center;
        z-index: 2;
        left: 0;
        bottom: 20px;
        color: #fff;
        margin: auto;
        padding: 2%;
        background: @primary;
        .border-radius(3px, 3px, 0, 0);
        .drop-shadow(2px, 2px, 8px, 0.4);
        .transition-duration(.3s);
      }
      img {
        .transition-duration(.3s);
      }
      &:hover {
        .overlay {
          background: rgba(0, 0, 0, 0.1);
          .transition-duration(.3s);
        }
        h3 {
          padding-left: 6%;
          background: @secondary;
          .transition-duration(.3s);
        }
        img {
          .transition-duration(.3s);
          .scale(1.2);
        }
      }
    }
  }
}
/* Featured Services End */
/* Testimonial Styles */
.testimonial_items .testimonial_headshot {
  width: 120px;
  min-height: 120px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.testimonial_items h3 {
  margin-top: 0;
}
/* Testimonial Styles End */
/* Team Styles */
.team_members {
  .member_headshot {
    width: 160px;
    min-height: 160px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px auto;
    .box-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
  }
  .name {
    text-align: center;
    margin: 0;
    color: @primary;
  }
  .position {
    text-align: center;
    font-style: italic;
    color: #000;
  }
}
textarea {
  resize: vertical !important;
}
/* Content End */


/* Media Queries */
@media (max-width: 368px) {
}
@media (max-width: 530px) {
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
  #articles {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Testimonials */
  .testimonial_items h3 {
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
}
/* Media Queries End */

/* Additional Styles */
a.bugslife-stamp {
  float: right;
  position: relative;
  transform: scale(.9, .9);
  -webkit-transform: scale(.9, .9);
  -moz-transform: scale(.9, .9);
  -ms-transform: scale(.9, .9);
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;

  &:hover {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
  }

  p.created-by {
    position: absolute;
    top: 40px;
    left: -25px;
    font-size: 9px;
    font-style: italic;
    color: #ADADAB !important;
  }
}