^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        <div class="col-sm-10 col-sm-offset-1 team_members">
            <div ng-repeat="customObject in customObjects track by $index">
                {{getTrustedContent(customObject.Details)}}
                <div class="col-md-3">
                    <div class="member_headshot imagefill">
                        <img ng-src="{{customObject.imageUrl}}" alt="{{customObject.imageName}}" />
                    </div>
                    <h4 class="name" ng-bind="customObject['Display Name']"></h4>
                    <p class="position" ng-bind="customObject.Position"></p>
                </div>
                <div class="col-md-9" style="padding-left: 25px;">
                    <blockquote>
                        <div ng-bind-html="currentDetails"></div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=team-members^
^tmp_footer^

