^tmp_head^
<div class="container" style="margin-top: 20px; position: relative; z-index: 1;">
    <div id="articles" class="row" style="padding: 70px 0 60px 0;">
        <div class="col-md-4 col-md-offset-4" style="text-align: center">
            <div style="font-size: 12em; color: #14C214"><b>404</b></div>
            <div style="font-size: 1.5em; color: #000; margin-top: 60px;">^loc_PAGE_NOT_FOUND^</div>
        </div>
    </div>
</div>
^tmp_footer_no_cp^
